dataset/
*.pyc
/__pycache__/
.DS_Store
codes/executable_scripts/
codes/Rscripts/
preprocessed_dataset/
*-checkpoint.ipynb
*.xlsx
*.txt
*.svg
*.tsv
*.tsv.gz
notebook_results/fba_term_preterm/
notebook_results/cst/NMF_selected_fixel/
notebook_results/cst/NMF_all_fixel/
*.ods
*.all_score
*.log
*.mismatch
*.prsice
*.valid
*.xregion
*.best
*.summary
codes/gene_set/LDpred2/
codes/gene_set/magma/
codes/gene_set/ldpred/
codes/gene_set/PRSice/test*
codes/gene_set/PRSice/ASD_Spark/
codes/FBA/.old_process.sh.swp
codes/FBA/.process.sh.swp
*.mif
codes/FBA/data
codes/FBA/dHCP_participant_info.csv
codes/FBA/dhcp_neo_dMRI_derived
codes/FBA/5TT_donald_example
codes/FBA/Ale_output
*.swp
*.tck
codes/FBA/atlas
codes/FBA/euro_SCZ_PRS_term.csv
*.csv
*.png
codes/gene_set/PRSice/lib
codes/gene_set/PRSice/output
codes/gene_set/PRSice/PRSice.R
codes/gene_set/PRSice/PRSice_linux
codes/gene_set/PRSice/genetic_data
PLINK1_9/
*.gmt
codes/gene_set/PRSice/.RData
codes/DrawEMVol/neonatal_release3
dataset
old/
codes/FBA/output_term_preterm/tractography/fba/tractography_20mil/group_analysis/stats_fdc_ICV_PMA/summary_contrast
codes/FBA/output_term_preterm/tractography/fba/tractography_20mil/group_analysis/stats_log_fc_ICV_PMA/summary_contrast
test/
codes/FBA/visualise_excluded_individual.sh
codes/FBA/wm_test.sh
codes/FBA/output 
codes/FBA/output_PRSrisk 
codes/FBA/output_term_preterm
codes/FBA/output_APOE

codes/FBA/individual_fods
codes/gene_set/PRSice/genetic_dataset
codes/DrawEMVol/generate_ID_list.py
codes/DrawEMVol/support_functions.sh
codes/FBA/wm_parcellation
codes/DrawEMVol/Jacobians
codes/DrawEMVol/mask.nii.gz
codes/DrawEMVol/output/all_Jacobians.nii.gz
codes/DrawEMVol/output/
codes/DrawEMVol/week40_T2w.nii.gz
*.pdf
codes/FBA/output_ASD
codes/FBA/Jacobians_in_extdhcp40wks
codes/DrawEMVol/dafnis

