dataset
!*.ipynb
!*.sh
!*.py
!*.md
*.pyc
/__pycache__/
.DS_Store
*-checkpoint.ipynb
*.xlsx
*.txt
*.svg
*.tsv
*.tsv.gz
*.png
*.ods
*.all_score
*.log
*.mismatch
*.prsice
*.valid
*.xregion
*.best
*.summary
*.csv
*.pdf
*.mif
*.swp
*.gmt

codes/gene_set
notebook_results
codes/FBA
codes/DrawEMVol
*.json
